*{
    margin:0;
    padding:0;
}
header{
    height:100px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
span{
    font-size: large;
    color: aliceblue;
    padding:50px;

}
section{
    background-color: green;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
h1{
    font-size: larger;
    font-weight: 100;
    color: aliceblue;
    
}
